<div class="footer">
  <ul class="footerBox">
    <li>
      <img class="logo" src="../../assets/logo.svg" />
      <p>
        Well-FX offer the best of "Partner Program" to all with earning a stable
        income by introducing clients to the one of The Best Forex Broker.
      </p>
    </li>
    <li>
      <p class="text">Extra Link</p>
      <a routerLink="/aboutus" routerLinkActive="active" translate>
        <p translate>About us</p></a
      >
      <a routerLink="/accounttype" routerLinkActive="active" translate
        ><p translate>Account Type</p></a
      >
      <a routerLink="/platform" routerLinkActive="active" translate
        ><p translate>Platform</p></a
      >
      <a routerLink="/depositwithdraw" routerLinkActive="active" translate
        ><p translate>Deposit / Withdraw</p></a
      >
    </li>
    <li>
      <p class="text">&nbsp;</p>
      <a routerLink="/partner" routerLinkActive="active" translate
        ><p translate>Partner</p></a
      >
      <a routerLink="/contactus" routerLinkActive="active" translate>
        <p translate>Contact us</p></a
      >
    </li>
    <li>
      <p class="text" translate>Recent news</p>
    </li>
    <li>
      <p class="text" translate>Support</p>
      <img class="qrImg" src="../../assets/qr.jpg" />
    </li>
    <li class="socialList">
      <div class="social">
        <img class="logo" src="../../assets/facebook.svg" />
        <p>@wellfx.th</p>
      </div>
      <div class="social">
        <img class="logo" src="../../assets/messenger.svg" />
        <p>@wellfx.th</p>
      </div>
    </li>
  </ul>
  <p>
    Risk Warning: Trading derivatives is risky. It isn’t suitable for everyone
    and you could lose substantially more than your initial investment. You
    don’t own or have rights in the underlying assets. Past performance is no
    indication of future performance and tax laws are subject to change. The
    information on this website is general in nature and doesn’t take into
    account your or client’s personal objectives, financial circumstances, or
    needs The information on this site is not intended for residents of the
    United Kingdom, Europe, the United States, or use by any person in any
    country or jurisdiction where such distribution or use would be contrary to
    local law or regulation.
  </p>
</div>
