.footer {
    padding: 40px 64px 0px;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
  }
  .footer .logo {
    height: 64px;
    margin: auto auto 16px auto;
  }
  .footer p {
    color: #ffffff;
    font-size: 16px;
    width: 100%;
  }
  .footer p.description {
    font-size: 14px;
  }

  .footer .text {
      font-size: 24px;
  }

  .footer ul.footerBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 16px 0px;
    border-bottom: 1px solid #ffffff;
    width: 100%;
  }
  .footer li {
    width: calc(17% - 16px);
    margin: 0px 8px;
    list-style: none;
  }
  .footer li.socialList {
    width: calc(15% - 16px);
  }
  .footer .social {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
  }
  
  .footer .social img {
    width: 48px;
    margin: 0px 32px 16px 0px;
  }
  
.footer .qrImg {
    max-width: 160px;
    width:100%;
}

  @media screen and (max-width: 1024px) {
    .footer {
      padding: 24px 24px 0px;
    }
    .footer p {
      font-size: 14px;
    }
    .footer .social img {
      width: 32px;
      margin: 0px 8px 0px 0px;
    }
    .footer p.description {
      font-size: 12px;
    }
    .footer li,.footer li.socialList {
      width: calc(33.33% - 16px);
    }
  }
  @media screen and (max-width: 425px) {
    .footer {
      padding: 16px 16px 0px;
    }
    .footer p {
      font-size: 12px;
    }
    .footer li,
    .footer li.socialList {
      width: calc(50% - 8px);
      margin: 0px 4px;
    }
    .footer li:first-child {
      width: calc(100% - 8px);
      display: flex;
    flex-wrap: wrap;
    }
    .footer .logo {
      height: 32px;
    }
    .footer .social img {
      width: 24px;
    }
    .footer p.description {
      font-size: 10px;
    }
  }
  